<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/Expanding_button.css">
    <title>toggle</title>
</head>
<body>

    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a href="#!">logo</a>
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a href="#!">Home</a>
                    </li>
                    <li>
                        <a href="#!">About</a>
                    </li>
                    <li>
                        <a href="#!">Services</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="#!">Web Design</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!">Pricing</a>
                    </li>
                    <li>
                        <a href="#!">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="wrapper">
        <p class="holder">
          <a href="#" class="animation first_b">ROOT DETECTION</a>
          <a href="#" class="animation first_b">INTEGRITY CHECK</a>
          <a href="#" class="animation first_b">SSL PINNING DETECTION</a>
        </p>
      </div>

      
</body>
</html>
