<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/Expanding_button.css">
    <title>toggle</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/Expanding_button.js"></script>
    <div class="top-section"></div>
    <div class="menu">
        <ul>
            <li>Home</li>
            <li>Works</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
        <span class="menu-toggle"></span>
    </div>
</body>
</html>
